/*Grid Styling*/

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*End Grid Styling*/


*{
    box-sizing: border-box;
}

header,#logo,#description,#example-button,#saved-characters{
    text-align: center;
    display: block;
}

#header-list{
    list-style: none;
    display: inline-flex;
    margin: auto;
}

/* fieldset{
    border: none;
} */

#signin-fieldset > input, #signup-fieldset > input{
    display: block;
    margin: 5px 0px 5px 0px;
}

#character-info , #attributes, #misc-attr, #skills, #saves, #combat-stats, #equipment, #background-form, #features, #lang-other{
    float: left;
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0px 15px 0px;
    text-align: center;
} 

#attributes > fieldset > input{
    display: block;
}

#skills > fieldset {
    float: left;
    text-align: center;
    align-items: center;
}

#attr-logo, #skill-logo, #save-logo, #combat-logo, #story-logo, #equip-logo, #feats-logo, #lang-logo{
    width: 100%;
}